body {
    font-family: italic;
    background-color: #f4d3d3;
  }
  
  .container {
    text-align: center;
    margin-top: 200px;
  }
  
  .options {
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    color:red;
    cursor:pointer;
  }
  
  #response {
    margin-top: 20px;
    font-style: italic;
    font-size: 14 px;
    color: rgb(0, 0, 0);


  }
  